/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 17.02.17
 */

.progress {
	margin: 0 0 20px 0;
	display: flex;
	align-items: center;
	user-select: none;
	cursor: default;

	& > button {
		font-size: 12px;
		color: #a3a3a4;
		background-color: transparent;
		padding: 0;
		margin: 0;
		border: none;
		outline: none;

		&.done {
			text-decoration: underline;
			cursor: pointer;
		}

		&.current {
			color: #5a1094;
		}
	}

	& > img {
		height: 18px;
		margin: 0 10px;
	}
}