/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 08.02.17
 */

.wrapper {
	padding: 100px 0 0 0;
}

.main {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 10px #c7c7c7;
	display: flex;
}